## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

Data Preparation

In [369]:
# import necessary libraries
import pandas as pd
import numpy as np

In [370]:
#Loading the dataset
house_data=pd.read_csv("data/kc_house_data.csv")
house_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,...,7 Average,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,...,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,...,6 Low Average,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,...,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,...,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [371]:
#loading the summary metadata
house_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  object
 9   view           21534 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(6), int64(9), object(6)
memory usage: 3.5+ MB

In [372]:
#checking for duplicates
def check_duplicates(dataset):
    duplicates = dataset.duplicated()
    if duplicates.any():
        duplicated_rows = dataset[duplicates]
        print("Duplicate rows:")
        print(duplicated_rows)
    else:
        print("No duplicates found.")
check_duplicates(house_data)

No duplicates found.

In [373]:
#checking for missing values
def check_missing_values(dataset):
    missing_values = dataset.isnull().sum()
    if missing_values.any():
        print("Missing values found:")
        print(missing_values)
    else:
        print("No missing values found.")

check_missing_values(house_data)

Missing values found:
id                  0
date                0
price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront       2376
view               63
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated     3842
zipcode             0
lat                 0
long                0
sqft_living15       0
sqft_lot15          0
dtype: int64

In [374]:
#loading summary statistics for each column
house_data.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.159700e+04,2.159700e+04,21597.000000,21597.000000,21597.000000,2.159700e+04,21597.000000,21597.000000,21597.000000,17755.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000
mean,4.580474e+09,5.402966e+05,3.373200,2.115826,2080.321850,1.509941e+04,1.494096,1788.596842,1970.999676,83.636778,98077.951845,47.560093,-122.213982,1986.620318,12758.283512
std,2.876736e+09,3.673681e+05,0.926299,0.768984,918.106125,4.141264e+04,0.539683,827.759761,29.375234,399.946414,53.513072,0.138552,0.140724,685.230472,27274.441950
min,1.000102e+06,7.800000e+04,1.000000,0.500000,370.000000,5.200000e+02,1.000000,370.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.220000e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,1190.000000,1951.000000,0.000000,98033.000000,47.471100,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,1560.000000,1975.000000,0.000000,98065.000000,47.571800,-122.231000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068500e+04,2.000000,2210.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,9410.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [375]:
#dropping the rows with the missing values in the view column
def drop_missing_view_rows(dataset):
    dataset.dropna(subset=['view'], inplace=True)

In [376]:
house_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  object
 9   view           21534 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(6), int64(9), object(6)
memory usage: 3.5+ MB

In [377]:
#converting the waterfront and year renovated columns to integers
def convert_string_to_int(dataset, columns):
    for column in columns:
        dataset[column] = pd.to_numeric(dataset[column], errors='coerce')
columns_to_convert = ['waterfront', 'yr_renovated'] 
convert_string_to_int(house_data, columns_to_convert)

In [378]:
# Replace missing values in 'waterfront' and 'yr_renovated' columns with the mean
def replace_missing_with_mean_for_columns(dataset, columns):
    for column in columns:
        dataset[column].fillna(dataset[column].mean(), inplace=True)

columns_to_replace = ['waterfront', 'yr_renovated'] 
replace_missing_with_mean_for_columns(house_data, columns_to_replace)

In [379]:
house_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     0 non-null      float64
 9   view           21534 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   21597 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(7), int64(9), object(5)
memory usage: 3.5+ MB

In [380]:
#reloading the data set
house_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     0 non-null      float64
 9   view           21534 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   21597 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(7), int64(9), object(5)
memory usage: 3.5+ MB

In [381]:
drop_missing_view_rows(house_data)
print(house_data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 21534 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21534 non-null  int64
 1   date           21534 non-null  object
 2   price          21534 non-null  float64
 3   bedrooms       21534 non-null  int64
 4   bathrooms      21534 non-null  float64
 5   sqft_living    21534 non-null  int64
 6   sqft_lot       21534 non-null  int64
 7   floors         21534 non-null  float64
 8   waterfront     0 non-null      float64
 9   view           21534 non-null  object
 10  condition      21534 non-null  object
 11  grade          21534 non-null  object
 12  sqft_above     21534 non-null  int64
 13  sqft_basement  21534 non-null  object
 14  yr_built       21534 non-null  int64
 15  yr_renovated   21534 non-null  float64
 16  zipcode        21534 non-null  int64
 17  lat            21534 non-null  float64
 18  long           21534 non-null  float64
 19  sqft_living15  21534 non-null  int64
 20  sqft_lot15     21534 non-null  int64
dtypes: float64(7), int64(9), object(5)
memory usage: 3.6+ MB
None

In [382]:
#Dropping the waterfront column since it contains missing values
house_data.drop('waterfront', axis=1, inplace=True)

# Verify the changes
print(house_data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 21534 entries, 0 to 21596
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21534 non-null  int64
 1   date           21534 non-null  object
 2   price          21534 non-null  float64
 3   bedrooms       21534 non-null  int64
 4   bathrooms      21534 non-null  float64
 5   sqft_living    21534 non-null  int64
 6   sqft_lot       21534 non-null  int64
 7   floors         21534 non-null  float64
 8   view           21534 non-null  object
 9   condition      21534 non-null  object
 10  grade          21534 non-null  object
 11  sqft_above     21534 non-null  int64
 12  sqft_basement  21534 non-null  object
 13  yr_built       21534 non-null  int64
 14  yr_renovated   21534 non-null  float64
 15  zipcode        21534 non-null  int64
 16  lat            21534 non-null  float64
 17  long           21534 non-null  float64
 18  sqft_living15  21534 non-null  int64
 19  sqft_lot15     21534 non-null  int64
dtypes: float64(6), int64(9), object(5)
memory usage: 3.5+ MB
None

Checking for outliers

In [383]:
def detect_outliers_iqr(df, threshold=1.5):
    outliers = {}
    for column in df.columns:
        if df[column].dtype in ['int64', 'float64']:
            Q1 = df[column].quantile(0.25)
            Q3 = df[column].quantile(0.75)
            IQR = Q3 - Q1
            lower_bound = Q1 - threshold * IQR
            upper_bound = Q3 + threshold * IQR
            outlier_indices = df[(df[column] < lower_bound) | (df[column] > upper_bound)].index
            outliers[column] = df.loc[outlier_indices]
    return outliers


outliers_dict = detect_outliers_iqr(house_data, threshold=2.0)

# Print outliers for each column
for column, outliers_df in outliers_dict.items():
    print(outliers_df)

Empty DataFrame
Columns: [id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15]
Index: []
               id        date      price  bedrooms  bathrooms  sqft_living  \
21     2524049179   8/26/2014  2000000.0         3       2.75         3050
49      822039084   3/11/2015  1350000.0         3       2.50         2753
69     1802000060   6/12/2014  1330000.0         5       2.25         3200
125    4389200955    3/2/2015  1450000.0         4       2.75         2750
153    7855801670    4/1/2015  2250000.0         4       3.25         5180
...           ...         ...        ...       ...        ...          ...
21535  1561750040  12/24/2014  1380000.0         5       4.50         4350
21552   524059330   1/30/2015  1700000.0         4       3.50         3830
21560  9253900271    1/7/2015  3570000.0         5       4.50         4850
21581   191100405   4/21/2015  1580000.0         4       3.25         3410
21584   249000205  10/15/2014  1540000.0         5       3.75         4470

       sqft_lot  floors       view  condition         grade  sqft_above  \
21        44867     1.0  EXCELLENT    Average      9 Better        2330
49        65005     1.0    AVERAGE  Very Good      9 Better        2165
69        20158     1.0       NONE    Average        8 Good        1600
125       17789     1.5       NONE    Average        8 Good        1980
153       19850     2.0       GOOD    Average     12 Luxury        3540
...         ...     ...        ...        ...           ...         ...
21535     13405     2.0       NONE    Average  11 Excellent        4350
21552      8963     2.0       NONE    Average  10 Very Good        3120
21560     10584     2.0  EXCELLENT    Average  10 Very Good        3540
21581     10125     2.0       NONE    Average  10 Very Good        3410
21584      8088     2.0       NONE    Average  11 Excellent        4470

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
21            720.0      1968      0.000000    98040  47.5316 -122.233
49            588.0      1953      0.000000    98070  47.4041 -122.451
69           1600.0      1965      0.000000    98004  47.6303 -122.215
125           770.0      1914   1992.000000    98004  47.6141 -122.212
153          1640.0      2006      0.000000    98006  47.5620 -122.162
...             ...       ...           ...      ...      ...      ...
21535           0.0      2014      0.000000    98074  47.6018 -122.060
21552         710.0      2014      0.000000    98004  47.5990 -122.197
21560        1310.0      2007      0.000000    98008  47.5943 -122.110
21581             ?      2007     83.636778    98040  47.5653 -122.223
21584           0.0      2008      0.000000    98004  47.6321 -122.200

       sqft_living15  sqft_lot15
21              4110       20336
49              2680       72513
69              3390       20158
125             3060       11275
153             3160        9750
...              ...         ...
21535           3990        7208
21552           2190       10777
21560           3470       18270
21581           2290       10125
21584           2780        8964

[805 rows x 20 columns]
               id        date      price  bedrooms  bathrooms  sqft_living  \
556    5486800070   6/20/2014  1950000.0         7       3.50         4640
1134   4024100951    1/5/2015   420000.0         7       3.00         2940
1239   7227802030   6/23/2014   350000.0         7       3.00         2800
1658   9126101740   12/4/2014   490000.0         8       5.00         2800
3717   5451100490   1/15/2015   884900.0         7       4.75         5370
...           ...         ...        ...       ...        ...          ...
18808  4040500100  10/20/2014   539000.0         7       2.25         2620
18960  1778360150   6/20/2014  1240000.0         7       5.50         6630
19239  8812401450  12/29/2014   660000.0        10       3.00         2920
19287  3756900027  11/25/2014   575000.0         8       3.00         3840
19312  2771604190   6/17/2014   824000.0         7       4.25         3670

       sqft_lot  floors     view condition         grade  sqft_above  \
556       15235     2.0     FAIR   Average  11 Excellent        2860
1134       8624     1.0     NONE   Average        8 Good        1690
1239       9569     1.0  AVERAGE   Average     7 Average        1400
1658       2580     2.0     NONE   Average        8 Good        1880
3717      10800     1.5     NONE   Average        8 Good        5370
...         ...     ...      ...       ...           ...         ...
18808      6890     2.0     NONE      Good     7 Average        2620
18960     13782     2.0     NONE   Average  10 Very Good        4930
19239      3745     2.0     NONE      Good     7 Average        1860
19287     15990     1.0     NONE   Average     7 Average        2530
19312      4000     2.0     FAIR   Average        8 Good        2800

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
556          1780.0      1965   2003.000000    98040  47.5666 -122.231
1134         1250.0      1977     83.636778    98155  47.7555 -122.307
1239         1400.0      1963      0.000000    98056  47.5102 -122.183
1658          920.0      1997      0.000000    98122  47.6086 -122.303
3717            0.0      1967      0.000000    98040  47.5380 -122.223
...             ...       ...           ...      ...      ...      ...
18808           0.0      1961      0.000000    98007  47.6123 -122.134
18960        1700.0      2004     83.636778    98006  47.5399 -122.118
19239        1060.0      1913      0.000000    98105  47.6635 -122.320
19287        1310.0      1961      0.000000    98034  47.7111 -122.211
19312         870.0      1964      0.000000    98199  47.6375 -122.388

       sqft_living15  sqft_lot15
556             3230       20697
1134            1850        8031
1239            2150        7333
1658            1800        2580
3717            2310       10910
...              ...         ...
18808           2070        7910
18960           4470        8639
19239           1810        3745
19287           1380        8172
19312           2010        4000

[62 rows x 20 columns]
               id        date      price  bedrooms  bathrooms  sqft_living  \
5      7237550310   5/12/2014  1230000.0         4       4.50         5420
270    4054500390   10/7/2014  1370000.0         4       4.75         5310
300    3225069065   6/24/2014  3080000.0         4       5.00         4550
419    8678500060   7/10/2014  1550000.0         5       4.25         6070
450    4055700030    5/2/2015  1450000.0         3       4.50         3970
...           ...         ...        ...       ...        ...          ...
21478  2413910120    7/2/2014   915000.0         3       4.50         3850
21485  4233600150    2/3/2015  1150000.0         5       4.25         4010
21490  2524069097    5/9/2014  2240000.0         5       6.50         7270
21535  1561750040  12/24/2014  1380000.0         5       4.50         4350
21560  9253900271    1/7/2015  3570000.0         5       4.50         4850

       sqft_lot  floors       view condition         grade  sqft_above  \
5        101930     1.0       NONE   Average  11 Excellent        3890
270       57346     2.0       NONE      Good  11 Excellent        5310
300       18641     1.0  EXCELLENT   Average  10 Very Good        2600
419      171626     2.0       NONE   Average     12 Luxury        6070
450       24920     2.0    AVERAGE   Average  10 Very Good        3260
...         ...     ...        ...       ...           ...         ...
21478     62726     2.0       NONE   Average  10 Very Good        3120
21485      8252     2.0       NONE   Average  10 Very Good        4010
21490    130017     2.0       NONE   Average     12 Luxury        6420
21535     13405     2.0       NONE   Average  11 Excellent        4350
21560     10584     2.0  EXCELLENT   Average  10 Very Good        3540

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
5            1530.0      2001      0.000000    98053  47.6561 -122.005
270             0.0      1989     83.636778    98077  47.7285 -122.042
300          1950.0      2002      0.000000    98074  47.6053 -122.077
419             0.0      1999      0.000000    98024  47.5954 -121.950
450           710.0      1977     83.636778    98034  47.7183 -122.258
...             ...       ...           ...      ...      ...      ...
21478         730.0      2013      0.000000    98053  47.6735 -122.058
21485           0.0      2015     83.636778    98075  47.5974 -122.013
21490         850.0      2010     83.636778    98027  47.5371 -121.982
21535           0.0      2014      0.000000    98074  47.6018 -122.060
21560        1310.0      2007      0.000000    98008  47.5943 -122.110

       sqft_living15  sqft_lot15
5               4760      101930
270             4180       47443
300             4550       19508
419             4680      211267
450             2610       13838
...              ...         ...
21478           2630       46609
21485           3370        8252
21490           1800       44890
21535           3990        7208
21560           3470       18270

[263 rows x 20 columns]
               id       date      price  bedrooms  bathrooms  sqft_living  \
5      7237550310  5/12/2014  1230000.0         4       4.50         5420
153    7855801670   4/1/2015  2250000.0         4       3.25         5180
269    7960900060   5/4/2015  2900000.0         4       3.25         5050
270    4054500390  10/7/2014  1370000.0         4       4.75         5310
384     713500030  7/28/2014  1350000.0         5       3.50         4800
...           ...        ...        ...       ...        ...          ...
21504  7237550100  8/25/2014  1410000.0         4       4.00         4920
21505  7430500110  12/9/2014  1380000.0         5       3.50         5150
21514  8964800330   4/7/2015  3000000.0         4       3.75         5090
21560  9253900271   1/7/2015  3570000.0         5       4.50         4850
21574  7430200100  5/14/2014  1220000.0         4       3.50         4910

       sqft_lot  floors       view condition         grade  sqft_above  \
5        101930     1.0       NONE   Average  11 Excellent        3890
153       19850     2.0       GOOD   Average     12 Luxury        3540
269       20100     1.5    AVERAGE   Average  11 Excellent        4750
270       57346     2.0       NONE      Good  11 Excellent        5310
384       14984     2.0    AVERAGE   Average  11 Excellent        3480
...         ...     ...        ...       ...           ...         ...
21504     50621     2.0       NONE   Average  10 Very Good        4280
21505     12230     2.0    AVERAGE   Average  10 Very Good        3700
21514     14823     1.0       NONE   Average  11 Excellent        4180
21560     10584     2.0  EXCELLENT   Average  10 Very Good        3540
21574      9444     1.5       NONE   Average  11 Excellent        3110

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
5            1530.0      2001      0.000000    98053  47.6561 -122.005
153          1640.0      2006      0.000000    98006  47.5620 -122.162
269           300.0      1982     83.636778    98004  47.6312 -122.223
270             0.0      1989     83.636778    98077  47.7285 -122.042
384               ?      1998      0.000000    98006  47.5543 -122.148
...             ...       ...           ...      ...      ...      ...
21504         640.0      2012      0.000000    98053  47.6575 -122.006
21505        1450.0      2007      0.000000    98008  47.6249 -122.090
21514         910.0      2013     83.636778    98004  47.6200 -122.207
21560        1310.0      2007      0.000000    98008  47.5943 -122.110
21574        1800.0      2007      0.000000    98074  47.6502 -122.066

       sqft_living15  sqft_lot15
5               4760      101930
153             3160        9750
269             3890       20060
270             4180       47443
384             4050       19009
...              ...         ...
21504           4920       74052
21505           2940       13462
21514           3030       12752
21560           3470       18270
21574           4560       11063

[255 rows x 20 columns]
               id        date      price  bedrooms  bathrooms  sqft_living  \
5      7237550310   5/12/2014  1230000.0         4       4.50         5420
21     2524049179   8/26/2014  2000000.0         3       2.75         3050
36     9435300030   5/28/2014   550000.0         4       1.00         1660
41     7766200013   8/11/2014   775000.0         4       2.25         4220
49      822039084   3/11/2015  1350000.0         3       2.50         2753
...           ...         ...        ...       ...        ...          ...
21478  2413910120    7/2/2014   915000.0         3       4.50         3850
21490  2524069097    5/9/2014  2240000.0         5       6.50         7270
21504  7237550100   8/25/2014  1410000.0         4       4.00         4920
21509  2625069038  11/24/2014  1450000.0         4       3.50         4300
21532  8835770330   8/19/2014  1060000.0         2       1.50         2370

       sqft_lot  floors       view  condition         grade  sqft_above  \
5        101930     1.0       NONE    Average  11 Excellent        3890
21        44867     1.0  EXCELLENT    Average      9 Better        2330
36        34848     1.0       NONE       Poor        5 Fair         930
41        24186     1.0       NONE    Average        8 Good        2600
49        65005     1.0    AVERAGE  Very Good      9 Better        2165
...         ...     ...        ...        ...           ...         ...
21478     62726     2.0       NONE    Average  10 Very Good        3120
21490    130017     2.0       NONE    Average     12 Luxury        6420
21504     50621     2.0       NONE    Average  10 Very Good        4280
21509    108865     2.0       NONE    Average  11 Excellent        4300
21532    184231     2.0       NONE    Average  11 Excellent        2370

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
5            1530.0      2001      0.000000    98053  47.6561 -122.005
21            720.0      1968      0.000000    98040  47.5316 -122.233
36            730.0      1933      0.000000    98052  47.6621 -122.132
41           1620.0      1984      0.000000    98166  47.4450 -122.347
49            588.0      1953      0.000000    98070  47.4041 -122.451
...             ...       ...           ...      ...      ...      ...
21478         730.0      2013      0.000000    98053  47.6735 -122.058
21490         850.0      2010     83.636778    98027  47.5371 -121.982
21504         640.0      2012      0.000000    98053  47.6575 -122.006
21509           0.0      2014      0.000000    98074  47.6258 -122.005
21532           0.0      2005      0.000000    98045  47.4543 -121.778

       sqft_living15  sqft_lot15
5               4760      101930
21              4110       20336
36              2160       11467
41              2410       30617
49              2680       72513
...              ...         ...
21478           2630       46609
21490           1800       44890
21504           4920       74052
21509           4650      107498
21532           3860      151081

[2091 rows x 20 columns]
Empty DataFrame
Columns: [id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15]
Index: []
               id        date      price  bedrooms  bathrooms  sqft_living  \
269    7960900060    5/4/2015  2900000.0         4       3.25         5050
270    4054500390   10/7/2014  1370000.0         4       4.75         5310
419    8678500060   7/10/2014  1550000.0         5       4.25         6070
484    2625069070   4/10/2015  1390000.0         4       3.25         4860
512    7322910030   7/21/2014  1100000.0         5       3.50         4410
...           ...         ...        ...       ...        ...          ...
21509  2625069038  11/24/2014  1450000.0         4       3.50         4300
21516   324069112   6/17/2014  1330000.0         4       4.00         4420
21535  1561750040  12/24/2014  1380000.0         5       4.50         4350
21545  6664500090   1/15/2015   750000.0         5       4.00         4500
21584   249000205  10/15/2014  1540000.0         5       3.75         4470

       sqft_lot  floors     view condition         grade  sqft_above  \
269       20100     1.5  AVERAGE   Average  11 Excellent        4750
270       57346     2.0     NONE      Good  11 Excellent        5310
419      171626     2.0     NONE   Average     12 Luxury        6070
484      181319     2.5     NONE   Average      9 Better        4860
512       57063     2.0     NONE      Good      9 Better        4410
...         ...     ...      ...       ...           ...         ...
21509    108865     2.0     NONE   Average  11 Excellent        4300
21516     16526     2.0     NONE   Average  11 Excellent        4420
21535     13405     2.0     NONE   Average  11 Excellent        4350
21545      8130     2.0     NONE   Average  10 Very Good        4500
21584      8088     2.0     NONE   Average  11 Excellent        4470

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
269           300.0      1982     83.636778    98004  47.6312 -122.223
270             0.0      1989     83.636778    98077  47.7285 -122.042
419             0.0      1999      0.000000    98024  47.5954 -121.950
484             0.0      1993      0.000000    98074  47.6179 -122.005
512             0.0      1990      0.000000    98053  47.6554 -122.018
...             ...       ...           ...      ...      ...      ...
21509           0.0      2014      0.000000    98074  47.6258 -122.005
21516           0.0      2013      0.000000    98075  47.5914 -122.027
21535           0.0      2014      0.000000    98074  47.6018 -122.060
21545           0.0      2007      0.000000    98059  47.4832 -122.145
21584           0.0      2008      0.000000    98004  47.6321 -122.200

       sqft_living15  sqft_lot15
269             3890       20060
270             4180       47443
419             4680      211267
484             3850      181319
512             2900       50529
...              ...         ...
21509           4650      107498
21516           3510       50447
21535           3990        7208
21545           2840        8402
21584           2780        8964

[264 rows x 20 columns]
Empty DataFrame
Columns: [id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15]
Index: []
               id        date      price  bedrooms  bathrooms  sqft_living  \
1      6414100192   12/9/2014   538000.0         3       2.25         2570
2      5631500400   2/25/2015   180000.0         2       1.00          770
12      114101516   5/28/2014   310000.0         3       1.00         1430
23     8091400200   5/16/2014   252700.0         2       1.50         1070
26     1794500383   6/26/2014   937000.0         3       1.75         2450
...           ...         ...        ...       ...        ...          ...
21576  1931300412   4/16/2015   475000.0         3       2.25         1190
21577  8672200110   3/17/2015  1090000.0         5       3.75         4170
21579  1972201967  10/31/2014   520000.0         2       2.25         1530
21581   191100405   4/21/2015  1580000.0         4       3.25         3410
21583  7202300110   9/15/2014   810000.0         4       3.00         3990

       sqft_lot  floors     view condition          grade  sqft_above  \
1          7242     2.0     NONE   Average      7 Average        2170
2         10000     1.0     NONE   Average  6 Low Average         770

Replacing the outliers with the mean

In [386]:
def replace_outliers_with_mean(df, threshold=1.5):
    for column in df.columns:
        if df[column].dtype in ['int64', 'float64']:
            Q1 = df[column].quantile(0.25)
            Q3 = df[column].quantile(0.75)
            IQR = Q3 - Q1
            lower_bound = Q1 - threshold * IQR
            upper_bound = Q3 + threshold * IQR
            
            # Replace outliers with the mean
            outlier_indices = (df[column] < lower_bound) | (df[column] > upper_bound)
            df.loc[outlier_indices, column] = df[column].mean()
    return df

house_data_cleaned = replace_outliers_with_mean(house_data, threshold=1.5)
print(house_data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 21534 entries, 0 to 21596
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21534 non-null  float64
 1   date           21534 non-null  object
 2   price          21534 non-null  float64
 3   bedrooms       21534 non-null  float64
 4   bathrooms      21534 non-null  float64
 5   sqft_living    21534 non-null  float64
 6   sqft_lot       21534 non-null  float64
 7   floors         21534 non-null  float64
 8   view           21534 non-null  object
 9   condition      21534 non-null  object
 10  grade          21534 non-null  object
 11  sqft_above     21534 non-null  float64
 12  sqft_basement  21534 non-null  object
 13  yr_built       21534 non-null  float64
 14  yr_renovated   21534 non-null  float64
 15  zipcode        21534 non-null  float64
 16  lat            21534 non-null  float64
 17  long           21534 non-null  float64
 18  sqft_living15  21534 non-null  float64
 19  sqft_lot15     21534 non-null  float64
dtypes: float64(15), object(5)
memory usage: 4.0+ MB
None